*.mo
*.py[cod]
*~
/.Python
/.coverage*
/.installed.cfg
/bin/
/build/
/coverage*
/develop-eggs/
/dist/
/docs/Makefile
/docs/html/
/eggs/
/htmlcov
/include/
/lib/
/local.cfg
/local/
/parts/
/share/
/src/plone.api.egg-info/
/var/
/reports/
/pip-selfcheck.json
/_build/
/.tox/
pyvenv.cfg
