*.mo
*.pyc
*~
/.coverage
/.installed.cfg
/.Python
/bin/
/dist/
/docs/Makefile
/coverage
/develop-eggs/
/docs/html/
/eggs/
/htmlcov
/include/
/lib/
/local/
/local.cfg
/parts/
/src/plone.api.egg-info/
/var/
