*.mo
*.pyc
*~
/.Python
/.coverage
/.installed.cfg
/bin/
/build/
/coverage
/develop-eggs/
/dist/
/docs/Makefile
/docs/html/
/eggs/
/htmlcov
/include/
/lib/
/local.cfg
/local/
/parts/
/src/plone.api.egg-info/
/var/
