language: python
python:
  - 2.7

install:
  - python bootstrap.py
  - bin/buildout

script:
  - ./pre-commit-check.sh
 
notifications:
  irc:
    - "irc.freenode.org#sprint"
  email:
    - nejc.zupan@gmail.com
